<div class="row">
    <div class="col s12 m12 l6">
        <div class="card-panel">
            <label for="start_date">Fecha inicial</label>
            <input type="text" class="datepicker" ng-model="start_date" name="start_date">
        </div>
    </div>
    <div class="col s12 m12 l6">
        <div class="card-panel">
            <label for="start_date">Fecha final</label>
            <input type="text" class="datepicker" ng-model="end_date" name="end_date">
        </div>
    </div>
    <div class="col m12">
        <button class="btn btn-primary" ng-click="loadAverageRadarDates()">Generar promedio</button>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card-panel">
            <canvas id="average-radar-dates-graphic"></canvas>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'yyyy-mm-dd',
            formatSubmit: 'yyyy-mm-dd'
        });
    });
</script>