<div class="row">
  <div class="col s12 m6 offset-m3 l6 offset-l3">
    <div class="card">
      <div class="card-content">
        <div class="card-header center-align">
          <span class="card-title login-title">Ingresar</span>
        </div>
        <form novalidate ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" name="form">
          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <label>Email</label>
            <input type="email" name="email" ng-model="loginForm.email" ng-minlength="3" ng-maxlength="256" required/>
          </div>

          <div class="input-field">
            <i class="material-icons prefix">vpn_key</i>
            <label>Password</label>
            <input type="password" name="password" ng-model="loginForm.password" ng-minlength="8" ng-maxlength="16" required/>
          </div>

          <div ng-messages="form.email.$error" ng-if="form.email.$touched">
            <p ng-message="minlength">El email es demasiado corto.</p>
            <p ng-message="maxlength">El email es demasiado largo.</p>
            <p ng-message="required">El email es requerido.</p>
            <p ng-message="email">Ingresa una direccion de email valida.</p>
          </div>
          <div ng-messages="form.password.$error" ng-if="form.password.$touched">
            <p ng-message="minlength">La contraseña es demasiado corta.</p>
            <p ng-message="maxlength">La contraseña es demasiado larga.</p>
            <p ng-message="required">La contraseña es requerida.</p>
          </div>

          <button type="submit" class="btn login-btn" ng-disabled="form.$invalid" ng-class="{disabled: form.$invalid}">Ingresar</button>
        </form>
        <a ui-sref="recoverPassword">Recuperar contraseña</a>
      </div>
    </div>
  </div>
</div>
