<ul class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li>Usuarios</li>
  </ul>
<div class="row">
  <div class="col l12 s12 m12">
    <div class="card-panel">
      <h3>Usuarios</h3>
      <table ng-init="indexUser()" class="responsive-table striped highlight">
        <thead>
          <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>e-mail</th>
            <th>Perfil</th>
            <th>Dirección</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in allUsers track by $index">
            <td>{{user.document}}</td>
            <td>{{user.name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.profile_id}}</td>
            <td>
              <div class="switch">
                <label>
                  <input type="checkbox" ng-checked="{{user.state}}" onclick="return false">
                  <span class="lever"></span>
                </label>
              </div>
            </td>
            <td>{{user.address}}</td>
            <!-- <td><a ng-click="delete(user.id)">Eliminar</a></td> -->
            <td><a ui-sref="editUser({id: user.id})">Editar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>