<ul class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li>Mi cuenta</li>
  </ul>
<div class="row" ng-init="loadMyAccountForm()">
  <div class="col l6 s12 m8 offset-l3 offset-m2">
    <div class="card-panel">
      <h5>Actualizar informacion personal</h5>
      <form novalidate ng-submit="updateAccount(updateAccountForm)" role="form" name="form">
        <!-- <fieldset ng-disabled="!user.signedIn"> -->
          <div class="row">
            <div class="col l6 m6 s12">
              <label>Nombre</label>
              <input type="text" name="name" ng-model="updateAccountForm.name" ng-minlength="3" ng-maxlength="30" required>
            </div>
            <div class="col l6 m6 s12">
              <label>Apellidos</label>
              <input type="text" name="last_name" ng-model="updateAccountForm.last_name" ng-minlength="2" ng-maxlength="30" required>
            </div>
          </div>

          <div class="row">
            <div class="col l6 m6 s12">
              <label>Dirección</label>
              <input type="text" name="address" ng-model="updateAccountForm.address" ng-minlength="8" ng-maxlength="50" required>
            </div>
            <div class="col l6 m6 s12">
              <label>Email</label>
              <input type="email" name="email" ng-model="updateAccountForm.email" required>
            </div>
          </div>
          <div ng-messages="form.name.$error" ng-if="form.name.$touched">
            <p ng-message="minlength">El nombre es muy corto.</p>
            <p ng-message="maxlength">El nombre es muy largo.</p>
            <p ng-message="required">El nombre es requerido.</p>
          </div>

          <div ng-messages="form.last_name.$error" ng-if="form.last_name.$touched">
            <p ng-message="minlength">El apeliido es muy corto.</p>
            <p ng-message="maxlength">El apeliido es muy largo.</p>
            <p ng-message="required">El apeliido es requerido.</p>
          </div>

          <div ng-messages="form.address.$error" ng-if="form.address.$touched">
            <p ng-message="minlength">La dirección es muy corta.</p>
            <p ng-message="maxlength">La dirección es muy larga.</p>
            <p ng-message="required">La dirección es requerida.</p>
          </div>

          <div ng-messages="form.email.$error" ng-if="form.email.$touched">
            <p ng-message="minlength">El email es demasiado corto.</p>
            <p ng-message="maxlength">El email es demasiado largo.</p>
            <p ng-message="required">El email es requerido.</p>
            <p ng-message="email">Ingresa una direccion de email valida.</p>
          </div>
          <button type="submit" class="btn" ng-disabled="form.$invalid" ng-class="{disabled: form.$invalid}">Guardar</button>
        <!-- </fieldset> -->
      </form>
    </div>
  </div>
</div>


<div class="row">
  <div class="col l6 s12 m8 offset-l3 offset-m2">
    <div class="card-panel">
      <h5>Cambiar contraseña</h5>
      <form ng-submit="updatePassword(changePasswordForm)" role="form" name="form2" ng-init="changePasswordForm = {}">
        <div class="row">
          <div class="col l6 m6 s12">
            <label>Contraseña</label>
            <input type="password" name="password" ng-model="changePasswordForm.password" required="required" class="form-control" ng-minlength="8" ng-maxlength="16">
          </div>

          <div class="col l6 m6 s12">
            <label>Confirmacion de contraseña</label>
            <input type="password" name="password_confirmation" ng-model="changePasswordForm.password_confirmation" required="required" compare-to="changePasswordForm.password" class="form-control" ng-minlength="8" ng-maxlength="16">
          </div>
          <div ng-messages="form2.password.$error">
            <p ng-message="minlength">La contraseña es muy corta.</p>
            <p ng-message="maxlength">La contraseña es muy larga.</p>            
          </div>
          <div ng-messages="form2.password_confirmation.$error">
            <p ng-message="minlength">La contraseña es muy corta.</p>
            <p ng-message="maxlength">La contraseña es muy larga.</p>
            <p ng-message="compareTo">Las contraseñas no son iguales</p>
          </div>
        </div>
        <button type="submit" class="btn" ng-disabled="form2.$invalid" ng-class="{disabled: form2.$invalid}">Guardar</button>
      </form>
    </div>
  </div>
</div>