<div class="row" ng-init="listProfiles()">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Registrar usuario</span>
          <form novalidate role="form" name="form">
            <div class="input-field">
              <label>Documento</label>
              <input type="text" name="document" ng-model="newUserForm.document" required="required" class="form-control"/>
            </div>
            <div class="input-field">
              <label>Nombre</label>
              <input type="text" name="name" ng-model="newUserForm.name" required="required" class="form-control"/>
            </div>

            <div class="input-field">
              <label>Apellido</label>
              <input type="text" name="last_name" ng-model="newUserForm.last_name" required="required" class="form-control"/>
            </div>

            <div class="input-field">
              <label>Direccion</label>
              <input type="text" name="address" ng-model="newUserForm.address" required="required" class="form-control"/>
            </div>

            <div class="input-field">
              <label>Email</label>
              <input type="email" name="email" ng-model="newUserForm.email" required="required" class="form-control"/>
            </div>

            <div class="input-field">
              <label>Password</label>
              <input type="password" name="password" ng-model="newUserForm.password" required="required" class="form-control"/>
            </div>

            <div class="input-field">
              <label>Password confirmation</label>
              <input type="password" name="password_confirmation" ng-model="newUserForm.password_confirmation" required="required" class="form-control"/>
            </div>
            
            <div class="input-field">
              <select class="browser-default" name="profile_id" id="profile_id" ng-model=newUserForm.profile_id required>
                <option value="">Seleccione un perfil</option>
                <option ng-repeat="profile in allProfiles" value="{{profile.id}}">{{profile.name}}</option>
              </select>
            </div>

            <button type="submit" ng-click="newUser()" class="btn btn-primary btn-lg">Registrar</button>
          </form>
      </div>
    </div>
  </div>
</div>
