<div class="row">
  <div class="col l12 s12 m12">
    <div class="card-panel">
      <h3>Calificar variables</h3>
      <table ng-init="loadQualificationsForm()" class="responsive-table highlight bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Calificacion</th>
          </tr>
        </thead>
        <form name="form" novalidate role="form">
          <tbody>
              <tr ng-repeat="variable in indicator.variables">
                <td>{{variable.name}}</td>
                <td>
                  <ng-form name="qualificationInput">
                    <input type="number" name="qualification" class="validate" ng-model="scores[variable.id]" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" max="{{variable.optimun_rating}}" step="0.1" required placeholder="max {{variable.optimun_rating}}" />
                    <p class="error" ng-show="qualificationInput.$invalid"> error</p>
                  </ng-form>
                </td>
              </tr>
          </tbody>
        </form>
      </table>
      <br>
      <!-- {{form.$valid}} -->
      <button class="btn" ng-class="{disabled: form.$invalid}" ng-click="qualify()">Guardar</button>
    </div>
  </div>
</div>