<div class="row" ng-init=loadVariable()>
  <div class="col l8 m12 s12 offset-l2">
    <div class="card-panel">
      <h4>Editar Variable</h4>
      <form novalidate role="form" name="form">
        <div class="row">
          <div class="input-field col l6 m12 s12">
            <label class="active" for="name">Nombre</label>
            <input type="text" name="name" ng-model="variable.name" ng-minlengthlength="3" ng-maxlength="30" required>
          </div>
        </div>

        <div ng-messages="form.name.$error" ng-if="form.name.$touched">
          <p ng-message="minlength">El nombre es muy corto.</p>
          <p ng-message="maxlength">El nombre es muy largo.</p>
          <p ng-message="required">El nombre es requerido.</p>
        </div>

        <div class="row">
          <div class="col m12 s12">
            <input class="btn right" type="submit" ng-click="editVariable()" value="Guardar" ng-disabled="form.$invalid" ng-class="{disabled: form.$invalid}"></input>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>