<ul class="breadcrumb">
  <li><a ui-sref="home">Home</a></li>
  <li>Evaluaciones</li>
  </ul>
<div class="row">
  <div class="col l12 s12 m12">
    <div class="card-panel">
      <h3>Evaluaciones</h3>
      <table ng-init="allEvaluations()" class="responsive-table highlight bordered">
        <thead>
          <tr>
            <th>Finca</th>
            <th>Evaluador</th>
            <th>Asignación</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="evaluation in allEvaluations">
            <td>{{evaluation.land.name}}</td>
            <td>{{evaluation.user.name}}</td>
            <td>{{evaluation.assignment_date}}</td>
            <td><a ui-sref="qualifyIndicators({evaluation_id: evaluation.id})">Calificar</a></td>
            <td><a ui-sref="evaluationReport({evaluation_id: evaluation.id})">Ver reporte</a></td>
          </tr>
        </tbody>
      </table>
      <button class="btn" ng-click="downloadEvaluations()">Descargar listado</button>
    </div>
  </div>
</div>