<div class="row">
    <div class="col m12 s12 l8">
        <div ng-init="allLands()">
            <select class="browser-default" ng-options="land.id as land.name for land in allLands track by land.id" ng-model="land_id">
                <option value="">Selecciona una finca</option>
            </select>
            <input type="date" class="datepicker" ng-model="date">
            <button ng-click="newEvaluation()" class="btn">Crear asignacion</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    });
</script>