/*header, main, footer {
  padding-left: 240px;
}*/

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.full-width {
  padding: 0 !important;
}

.brand-logo {
  font-weight: 200 !important;
}

.permissions {
    margin: 10px;
    display: flex;
}

.permissions-section {
    margin-bottom: 0px;
}

.login-title {
    font-weight: 400 !important;
}

.login-btn {
    width: 100%;
}

.menu-icons {
  font-size: 1.5rem !important;
}

body .bar {
  background-color: #FF5252 !important;
  height: 3px !important;
}

body .peg {
  box-shadow: 0 0 10px #FF5252, 0 0 5px #FF5252 !important;
}

#loading-bar-spinner .spinner-icon {
  width: 30px !important;
  height: 30px !important;
  border-top-color:  #FF5252 !important;
  border-left-color: #FF5252 !important;
}

#loading-bar-spinner {
  top: 70px !important;
  right: 10px !important;
  left: auto !important;
}

.qualified {
  background-color: #e0f2f1;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    color: black;
}
ul.breadcrumb li {display: inline;}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}