/*header, main, footer {
  padding-left: 240px;
}*/

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.full-width {
  padding: 0 !important;
}

.brand-logo {
  font-weight: 200 !important;
}

.permissions {
    margin: 10px;
    display: flex;
}

.permissions-section {
    margin-bottom: 0px;
}

.login-title {
    font-weight: 400 !important;
}

.login-btn {
    width: 100%;
}

.menu-icons {
  font-size: 1.5rem !important;
}